In [215]:
# task 1:
'''Il dataset diabetes.csv raccoglie persone con diabete o meno, 
e il valore di diverse variabili fisiologiche dei pazienti.
importa db'''

import pandas as pd

df = pd.read_csv('diabetes.csv')
df

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [9]:
# task 2:
'''â€¢ Osserviamone le dimensioni e un'anteprima di cinque righe'''

df.shape
df.head(5)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [33]:
# task 3:
'''â€¢ Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne'''

df

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [35]:
# task 4:
'''â€¢ Stampiamo dei descrittori statistici del dataset'''

df.describe()

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [207]:
# task 5:
'''â€¢ Selezioniamo i dati relativi a diverse fasce di etÃ : 
<20, 20-30, 30-40, 40-50, >50'''

df[df['Age (years)'] < 20]
df[(df['Age (years)'] >= 20) & (df['Age (years)'] <= 30)]
df[(df['Age (years)'] >= 30) & (df['Age (years)'] <= 40)]
df[(df['Age (years)'] >= 40) & (df['Age (years)'] <= 50)]
df[df['Age (years)'] > 50]

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
...,...,...,...,...,...,...,...,...,...
719,5,97,76,27,0,35.6,0.378,52,1
734,2,105,75,0,0,23.3,0.560,53,0
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
763,10,101,76,48,180,32.9,0.171,63,0

In [101]:
# task 6:
'''â€¢ Qual Ã¨ la media della pressione sanguigna diastolica per le diverse fasce di etÃ ?'''

pressione_media_under_20 = df['Diastolic blood pressure (mm Hg)'][df['Age (years)'] < 20].mean()
pressione_media_20_30 = df['Diastolic blood pressure (mm Hg)'][(df['Age (years)'] >= 20) & (df['Age (years)'] <= 30)].mean()
pressione_media_30_40 = df['Diastolic blood pressure (mm Hg)'][(df['Age (years)'] >= 30) & (df['Age (years)'] <= 40)].mean()
pressione_media_40_50 = df['Diastolic blood pressure (mm Hg)'][(df['Age (years)'] >= 40) & (df['Age (years)'] <= 50)].mean()
pressione_media_over_50 = df['Diastolic blood pressure (mm Hg)'][df['Age (years)'] > 50].mean()

print('la pressione media under 20 Ã¨:',pressione_media_under_20)
print('la pressione media 20-30 Ã¨:',pressione_media_20_30)
print('la pressione media 30-40 Ã¨:',pressione_media_30_40)
print('la pressione media 40-50 Ã¨:',pressione_media_40_50)
print('la pressione over 50 Ã¨:',pressione_media_over_50)

la pressione media under 20 Ã¨: nan
la pressione media 20-30 Ã¨: 65.32374100719424
la pressione media 30-40 Ã¨: 69.63483146067416
la pressione media 40-50 Ã¨: 74.21428571428571
la pressione over 50 Ã¨: 78.38271604938272

In [205]:
# task 7:
'''â€¢ Qual Ã¨ la media della pressione per ogni singolo anno di etÃ ?'''


df.groupby('Age (years)')['Diastolic blood pressure (mm Hg)'].mean()

Age (years)
21    65.936508
22    63.722222
23    64.315789
24    64.956522
25    59.666667
26    64.181818
27    73.500000
28    68.314286
29    68.241379
30    64.857143
31    64.375000
32    70.062500
33    65.647059
34    74.000000
35    75.600000
36    69.125000
37    75.947368
38    71.125000
39    72.666667
40    69.230769
41    67.590909
42    73.388889
43    78.461538
44    61.750000
45    83.066667
46    76.000000
47    78.333333
48    78.400000
49    81.400000
50    78.250000
51    84.500000
52    81.500000
53    79.000000
54    89.333333
55    70.250000
56    76.333333
57    76.800000
58    78.285714
59    74.000000
60    80.000000
61    76.000000
62    71.500000
63    78.000000
64    78.000000
65    78.666667
66    86.000000
67    72.666667
68    82.000000
69    81.000000
70    82.000000
72     0.000000
81    74.000000
Name: Diastolic blood pressure (mm Hg), dtype: float64