In [81]:
# task 1:
'''importa db json file'''

import json
import pandas as pd

# Specifica il percorso completo del file JSON
file_path = 'Mappa-dei-pub-circoli-locali-in-Italia.json'

# Apri il file JSON con un'altra codifica
# with open(file_path, 'r', encoding='ISO-8859-1') as file:
    # data = json.load(file)

df = pd.read_json("Mappa-dei-pub-circoli-locali-in-Italia.json", encoding="latin1")

# Supponiamo che il JSON sia una lista di dizionari (struttura tabellare)
# df = pd.DataFrame(data)

# Visualizza il DataFrame
df

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,Ala di Stura,TORINO,Piemonte,,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2492,Barletta (BT),BARLETTA ANDRIA TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2493,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2494,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2495,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [7]:
import os
os.getcwd()

'/Users/federicocalarco/EPICODE_PYTHON_DAPT0324/W14D4'

In [121]:
'''Esaminiamo il dataset:'''

# • quanti dati ci sono in totale?
df.shape

# • quali sono i metadati?
df.info()

# • stampiamo il primo elemento
df.head(1)

# • stampiamo l'ultimo elemento
df.tail(1)

# • riusciamo a stampare un elemento a caso?
df.sample()

# • quali sono gli anni di inserimento presenti?
sorted(df['canno_inserimento'].unique())

# • quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46?

#• quante attività ci sono nella provincia di Vicenza?
attività_vicenza = df[['cnome']][df['cprovincia'] == 'VICENZA']
attività_vicenza.count()

#• quante enoteche ci sono, e come si chiamano? 
df['cnome'][(df['cprovincia'] == 'VICENZA') & (df['cnome'].str.contains('enoteca', case = False))]

#• quante attività ci sono in Lazio e Abruzzo assieme?
attività_abruzzo_lazio = df[['cnome']][(df['cregione'] == 'Abruzzo') | (df['cregione'] == 'Lazio')]
attività_abruzzo_lazio.count()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2497 entries, 0 to 2496
Data columns (total 9 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ccomune                           2497 non-null   object
 1   cprovincia                        2497 non-null   object
 2   cregione                          2497 non-null   object
 3   cnome                             2497 non-null   object
 4   canno_inserimento                 2497 non-null   int64
 5   cdata_e_ora_inserimento           2497 non-null   object
 6   cidentificatore_in_openstreetmap  2497 non-null   int64
 7   clongitudine                      2497 non-null   float64
 8   clatitudine                       2497 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 175.7+ KB

cnome    237
dtype: int64

In [206]:
filtro1 = df.cprovincia == 'VICENZA'
filtro2 = df[filtro1]
filtro3 = filtro2['cnome'].str.contains('enoteca', case = False)
filtro2[filtro3]

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
1000,Malo,VICENZA,Veneto,Enoteca Umberto,2013,2013-04-15T08:41:22Z,1659350138,11.418507,45.653453