In [3]:
%pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 45.0/45.0 kB 545.4 kB/s eta 0:00:00a 0:00:01
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlalchemy import create_engine
import pandas as pd

dbname = "AdventureWorksDW"
username = 'studente_dapt'
port = "3306"
password = 'Ep1c0d3!!D4t4**4n4lys1s'
host = 'epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com'
conn_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
db_engine = create_engine(conn_string)
query = """SELECT *
        FROM dimcustomer
        LIMIT 100
        """
df = pd.read_sql(query, db_engine)
df

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,11095,13,AW00011095,None,Chad,None,Kumar,0,1968-02-29,S,...,Skilled Manual,Obrero especializado,Technicien,1,1,1681 Lighthouse Way,None,1 (11) 500 555-0151,2011-04-01,5-10 Miles
96,11096,12,AW00011096,None,Andrés,None,Anand,0,1968-02-07,M,...,Professional,Profesional,Cadre,1,1,5423 Los Gatos Ct.,None,1 (11) 500 555-0184,2011-04-11,5-10 Miles
97,11097,40,AW00011097,None,Edwin,R,Nara,0,1972-10-23,M,...,Skilled Manual,Obrero especializado,Technicien,1,1,719 William Way,None,1 (11) 500 555-0112,2011-04-04,5-10 Miles
98,11098,14,AW00011098,None,Mallory,S,Rubio,0,1966-10-29,S,...,Skilled Manual,Obrero especializado,Technicien,0,1,6452 Harris Circle,None,1 (11) 500 555-0157,2013-02-11,0-1 Miles
99,11099,13,AW00011099,None,Adam,None,Ross,0,1966-09-05,M,...,Professional,Profesional,Cadre,1,1,4378 Westminster Place,None,1 (11) 500 555-0186,2011-04-07,0-1 Miles